<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action='${"/model/" + id +  "/new"}' method="post" modelAttribute="model">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="vendor_code">Vendor Code</label>
    <input type="text" name="vendor_code" id="vendor_code">
    <input type="submit" value="Add">
</form>
</body>
</html>
